{% extends 'music/base.html'%}
{% block title %}
    Add Album
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <form class="form-horizontal" method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'music/form-template.html' %}
                <div class="row">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>

        </div>
    </div>
{% endblock %}
